<footer class="_5mVtqL uZncG4" role="contentinfo ">
    <div class="PjIOU+">
        <div class="jP2PzH">
            <div class="Lj4LG2">
                <div class="PuXQrZ">
                    <div class="JMCbqu raWI9Y">Chăm sóc khách hàng</div>
                    <ul class="SOb2n7">
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS" contentdata="[object Object] "
                                                     href="https://help.shopee.vn/vn/s " rel="noopener noreferrer " target="_blank "
                                                     title=" "><span
                                class="xTjlXx">Trung tâm trợ giúp</span></a></li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS" contentdata="[object Object] "
                                                     href="https://shopee.vn/blog " rel="noopener noreferrer " target="_blank "
                                                     title=" "><span class="xTjlXx">Shopee Blog</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a
                                class="FA0WjS"
                                contentdata="[object Object] " href="https://help.shopee.vn/vn/s/article/C%C3%A1c-c%C3%A2u-h%E1%BB%8Fi-li%C3%AAn-quan-%C4%91%E1%BA%BFn-SHOPEE-MALL
													" rel="noopener
													noreferrer " target="_blank " title=" "><span class="xTjlXx">Shopee
									Mall</span></a></li>
                        <li class="o8Gbgv yy98Or"><a
                                class="FA0WjS"
                                contentdata="[object Object] " href="https://help.shopee.vn/vn/s/article/H%C6%B0%E1%BB%9Bng-d%E1%BA%ABn-mua-h%C3%A0ng-t%E1%BA%A1i-Shopee-1542942315487
													" rel="noopener
													noreferrer " target="_blank " title=" "><span class="xTjlXx">Hướng
									dẫn mua hàng</span></a></li>
                        <li class="o8Gbgv yy98Or"><a
                                class="FA0WjS"
                                contentdata="[object Object]
													" href="https://help.shopee.vn/vn/s/article/L%C3%A0m-c%C3%A1ch-n%C3%A0o-%C4%91%E1%BB%83-b%E1%BA%AFt-%C4%91%E1%BA%A7u-%C4%91%C4%83ng-b%C3%A1n-tr%C3%AAn-Shopee-1542942317110
													" rel="noopener noreferrer " target="_blank "
                                title=" "><span class="xTjlXx">Hướng
									dẫn bán hàng</span></a></li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://help.shopee.vn/vn/s/topic/0TO6F000000QzBjWAK/thanh-to%C3%A1n
													" rel="noopener noreferrer "
                                                     target="_blank " title=" "><span class="xTjlXx">Thanh toán</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://help.shopee.vn/vn/s/article/Shopee-Xu-l%C3%A0-g%C3%AC-1542942386643
													" rel="noopener noreferrer "
                                                     target="_blank " title=" "><span class="xTjlXx">Shopee Xu</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://help.shopee.vn/vn/s/topic/0TO6F000000QzKWWA0/v%E1%BA%ADn-chuy%E1%BB%83n
													" rel="noopener noreferrer "
                                                     target="_blank " title=" "><span class="xTjlXx">Vận chuyển</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a
                                class="FA0WjS"
                                contentdata="[object Object]
													" href="https://help.shopee.vn/vn/s/article/C%C3%A1c-c%C3%A2u-h%E1%BB%8Fi-li%C3%AAn-quan-%C4%91%E1%BA%BFn-Tr%E1%BA%A3-h%C3%A0ng-Ho%C3%A0n-ti%E1%BB%81n-1542942680526
													" rel="noopener noreferrer " target="_blank "
                                title=" "><span class="xTjlXx">Trả
									hàng &amp; Hoàn tiền</span></a></li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://help.shopee.vn/vn/s/contactus " rel="noopener noreferrer "
                                                     target="_blank "
                                                     title=" "><span
                                class="xTjlXx">Chăm sóc khách hàng</span></a></li>
                        <li class="o8Gbgv yy98Or"><a
                                class="FA0WjS"
                                contentdata="[object Object] " href="https://help.shopee.vn/vn/s/article/CH%C3%8DNH-S%C3%81CH-B%E1%BA%A2O-H%C3%80NH-T%E1%BA%A0I-SHOPEE-1542942563283
													" rel="noopener
													noreferrer " target="_blank " title=" "><span class="xTjlXx">Chính
									sách bảo hành</span></a></li>
                    </ul>
                </div>
                <div class="PuXQrZ">
                    <div class="JMCbqu raWI9Y">Về Shopee</div>
                    <ul class="SOb2n7">
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://careers.shopee.com/about/ " rel="noopener noreferrer "
                                                     target="_blank "
                                                     title=" "><span class="xTjlXx">Giới thiệu về Shopee Việt Nam</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://careers.shopee.com/jobs " rel="noopener noreferrer "
                                                     target="_blank "
                                                     title=" "><span
                                class="xTjlXx">Tuyển dụng</span></a></li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://help.shopee.vn/portal/article/77242 " rel="noopener noreferrer "
                                                     target="_blank " title=" "><span class="xTjlXx">Điều Khoản Shopee</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://help.shopee.vn/portal/article/77244 " rel="noopener noreferrer "
                                                     target="_blank " title=" "><span class="xTjlXx">Chính sách bảo mật</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS" contentdata="[object Object] "
                                                     href="https://shopee.vn/mall/ " rel="noopener noreferrer " target="_blank "
                                                     title=" "><span
                                class="xTjlXx">Chính Hãng</span></a></li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS" contentdata="[object Object] "
                                                     href="https://banhang.shopee.vn/ " rel="noopener noreferrer " target="_blank "
                                                     title=" "><span
                                class="xTjlXx">Kênh Người bán</span></a></li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS"
                                                     contentdata="[object Object] " href="https://shopee.vn/flash_sale/ " rel="noopener noreferrer "
                                                     target="_blank "
                                                     title=" "><span class="xTjlXx">Flash Sales</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS" contentdata="[object Object] "
                                                     href="https://shopee.vn/affiliate/ " rel="noopener noreferrer " target="_blank "
                                                     title=" "><span class="xTjlXx">Chương trình Tiếp thị liên kết Shopee</span></a>
                        </li>
                        <li class="o8Gbgv yy98Or"><a class="FA0WjS" contentdata="[object Object] "
                                                     href="mailto:media.vn%40shopee.com " rel="noopener noreferrer "
                                                     target="_blank " title="media.vn@shopee.com "><span class="xTjlXx">Liên Hệ Với Truyền Thông</span></a>
                        </li>
                    </ul>
                </div>
                <div class="PuXQrZ">
                    <div class="JMCbqu raWI9Y">Thanh toán</div>
                    <ul class="D7qxb9">
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-visa-png"
                                 style="width: 55px; height: 18px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-mastercard-png"
                                 style="width: 55px; height: 29px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-jcb-png" style="width: 55px; height: 23px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-amex-png"
                                 style="width: 55px; height: 24px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-vn_cod_footer-png"
                                 style="width: 50px; height: 29px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-vn_installment_footer-png"
                                 style="width: 55px; height: 29px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-shopeepay-png"
                                 style="width: 55px; height: 22px"></div>
                        </a></li>
                    </ul>
                    <div class="JMCbqu raWI9Y wTATIi">Đơn vị vận chuyển</div>
                    <ul class="D7qxb9">
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-shopee-express-png"
                                 style="width: 55px; height: 10px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-ghtk-png"
                                 style="width: 55px; height: 18px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-ghn-png" style="width: 55px; height: 29px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-viettel_post-png"
                                 style="width: 55px; height: 40px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-vnpost-png"
                                 style="width: 55px; height: 27px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-vn_jnt_footer-png"
                                 style="width: 55px; height: 16px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-grab_express-png"
                                 style="width: 55px; height: 15px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-ninja-van-png"
                                 style="width: 50px; height: 20px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-best-express-png"
                                 style="width: 39px; height: 22px"></div>
                        </a></li>
                        <li class="uqMJQA"><a class="_2pbE-b" contentdata="[object Object] " rel="noopener noreferrer "
                                              target="_blank ">
                            <div class="footer-vn-background footer-vn-be-delivery-png"
                                 style="width: 29px; height: 29px"></div>
                        </a></li>
                    </ul>
                </div>
                <div class="PuXQrZ">
                    <div class="JMCbqu raWI9Y">Theo dõi chúng tôi trên</div>
                    <ul class="SOb2n7">
                        <li class="o8Gbgv"><a class="FA0WjS" contentdata="[object Object] "
                                              href="https://facebook.com/ShopeeVN " rel="noopener noreferrer " target="_blank "
                                              title=" ">
                            <div class="footer-vn-background footer-vn-f-png _6ZyW8Y"></div>
                            <span class="xTjlXx">Facebook</span>
                        </a></li>
                        <li class="o8Gbgv"><a class="FA0WjS" contentdata="[object Object] "
                                              href="https://instagram.com/Shopee_VN " rel="noopener noreferrer " target="_blank "
                                              title=" ">
                            <div class="footer-vn-background footer-vn-ins-png _6ZyW8Y"></div>
                            <span class="xTjlXx">Instagram</span>
                        </a></li>
                        <li class="o8Gbgv"><a class="FA0WjS" contentdata="[object Object] "
                                              href="https://linkedin.com/company/shopee " rel="noopener noreferrer " target="_blank "
                                              title=" ">
                            <div class="footer-vn-background footer-vn-lin-png _6ZyW8Y"></div>
                            <span class="xTjlXx">LinkedIn</span>
                        </a></li>
                    </ul>
                </div>
                <div class="PuXQrZ">
                    <div class="JMCbqu raWI9Y">Tải ứng dụng Shopee ngay thôi</div>
                    <div class="pkg67p">
                        <a contentdata="[object Object] " href="https://shopee.vn/web/ " rel="noopener noreferrer "
                           target="_blank "><img
                                alt="download_qr_code
													" class="ebQ6br" th:src="@{/assets/profile/address/d91264e165ed6facc6178994d5afae79.png}
													"/></a>
                        <div class="zLPzwH">
                            <a class="W4jGm6" contentdata="[object Object] " href="https://shopee.vn/web/ " rel="noopener noreferrer "
                               target="_blank "><img
                                    alt="App Store " th:src="@{/assets/profile/address/39f189e19764dab688d3850742f13718.png}
														"/></a> <a class="W4jGm6"
                                                                                    contentdata="[object Object] "
                                                                                    href="https://shopee.vn/web/ "
                                                                                    rel="noopener noreferrer "
                                                                                    target="_blank "><img
                                alt="Play Store " th:src="@{/assets/profile/address/f4f5426ce757aea491dce94201560583.png}
														"/></a> <a class="W4jGm6"
                                                                                     contentdata="[object Object] "
                                                                                     href="https://shopee.vn/web/ "
                                                                                     rel="noopener noreferrer "
                                                                                     target="_blank "><img
                                alt="App Gallery " th:src="@{/assets/profile/address/1ae215920a31f2fc75b00d4ee9ae8551.png}
														"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="-96EVm">
                <div class="_0lbTUw syJk0q">© 2022 Shopee. Tất cả các quyền được bảo lưu.</div>
                <div class="qtxc6i">
                    <div class="ircc-H syJk0q">Quốc gia &amp; Khu vực:</div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.sg/ ">Singapore</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.co.id/ ">Indonesia</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.tw/ ">Đài Loan</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.co.th/ ">Thái Lan</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.com.my/ ">Malaysia</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.vn/ ">Việt Nam</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.ph/ ">Philippines</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.com.br/ ">Brazil</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.com.mx/ ">México</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.com.co/ ">Colombia</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.cl/ ">Chile</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.pl/ ">Poland</a>
                    </div>
                    <div class="iDTkf9">
                        <a class="syJk0q _1yz5p4" href="https://shopee.com.ar/ ">Argentina</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="_4FDN71">
            <div class="Hyfopi">
                <div class="EWPRwa">
                    <div class="d56atc">
                        <a class="Dc8l4L" href="https://shopee.vn/legaldoc/privacy "><span>Chính sách bảo mật</span></a>
                    </div>
                    <div class="d56atc">
                        <a class="Dc8l4L" href="https://shopee.vn/docs/170 "><span>Quy chế hoạt động</span></a>
                    </div>
                    <div class="d56atc">
                        <a class="Dc8l4L" href="https://shopee.vn/legaldoc/shipping "><span>Chính sách vận chuyển</span></a>
                    </div>
                    <div class="d56atc">
                        <a class="Dc8l4L"
                           href="https://shopee.vn/docs/3111 "><span>CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</span></a>
                    </div>
                </div>
                <div class="CpmibF">
                    <a class="_44TnCg" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=18375 "
                       rel="noopener noreferrer " target="_blank ">
                        <div class="footer-vn-background footer-vn-vn_registered_red-png jeaJPZ"></div>
                    </a> <a class="_44TnCg" href="http://online.gov.vn/HomePage/AppDisplay.aspx?DocId=29 "
                            rel="noopener noreferrer " target="_blank ">
                    <div class="footer-vn-background footer-vn-vn_registered_red-png jeaJPZ"></div>
                </a> <a class="_44TnCg" href="https://shopee.vn/docs/170 " rel="noopener noreferrer " target="_blank ">
                    <div class="footer-vn-background footer-vn-vn_no_fake_item-png b1v1Th"></div>
                </a>
                </div>
                <div class="BV2E6Y ggg4D-">Công ty TNHH Shopee</div>
                <div class="BV2E6Y">Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai, Phường Ngọc
                    Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam.
                    Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn
                </div>
                <div class="BV2E6Y">Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí - Điện thoại liên hệ: 024 73081221
                    (ext 4678)
                </div>
                <div class="BV2E6Y">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch &amp; Đầu tư TP Hà Nội cấp lần đầu
                    ngày 10/02/2015
                </div>
                <div class="BV2E6Y">© 2015 - Bản quyền thuộc về Công ty TNHH Shopee</div>
            </div>
        </div>
    </div>
</footer>